.dataClass {
  border: 1px solid rgb(241, 241, 241);
  margin: 10px;
  border-radius: 5px;
  width: auto;
}

.title {
  margin-bottom: 15px;
}

.container {
  padding-bottom: 20px;
  padding-top: 20px;
}