.dataClass {
  border: 1px solid rgb(241, 241, 241);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 15px;
}

.container {
  padding-bottom: 10px;
  padding-top: 10px;
}